body {
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
  line-height: 1.1;
  color: #333;
  background-color: #f5f5f5;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 6rem;
}

.header-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #2c3e50;
}

.subtitle {
  color: #7f8c8d;
  font-size: 1.2rem;
}

section {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

/* Projects */

.projects-section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}



.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
}


.project-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;

}

.project-card:hover {
  background-color: #f1f3f5;
}

.project-card p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.project-card a {
  font-size: 0.9rem;
  margin-top: auto;
  color: #3498db;
  text-decoration: none;
  transition: color 0.2s;
}

.project-card a:hover {
  color: #2980b9;
}

/* Thoughts */

.thoughts-title {
  color: #666;
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.thoughts-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thought-item {
  font-style: italic;
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 8px;
  color: #555;
  transition: background-color 0.5s ease;
}

.thought-item:hover {
  background-color: #f1f3f5;
}

/* Footer */

.footer {

  font-size: 0.7rem;
  text-align: center;
  margin-top: 8rem;
}